.idea
.py
__pycache__
/python_basic/criandoArquivos.txt
/python_basic/criandoArquivos2.txt
/python_basic/criandoArquivos3.txt
/python_basic/my_json
/python_poo/log.txt
/games_and_challenges/sistema_log/log.txt
